.App {
  text-align: center;
  padding: 10px;
}

.header {
  padding-bottom: 20px;
}

.coinName {
  padding: 10px 0;
}

.price {
  padding-bottom: 10px;
  font-size: 1.5em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33% auto;
  grid-template-areas: "e p";
}

.exName {
  grid-area: e;
}

.rates {
  grid-area: p;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.legend {
  padding-top: 15px;
  padding-left: 34%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recommend {
  padding-top: 10px;
}

@media only screen and (min-width: 900px) {
  .App {
    padding: 50px 300px;
  }
}
