.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  text-align: center;
}

.header {
  padding-bottom: 20px;
}

.coinName {
  padding: 10px 0;
}

.price {
  padding-bottom: 10px;
  font-size: 1.5em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33% auto;
  grid-template-areas: "e p";
}

.exName {
  grid-area: e;
}

.rates {
  grid-area: p;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.legend {
  padding-top: 15px;
  padding-left: 34%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recommend {
  padding-top: 10px;
}

@media only screen and (min-width: 900px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
  }
  
  .header, .book {
    grid-column: 2;
  }

  .header {
    grid-row: 1;
    padding-top: 100px;
  }
}
